.sidebar{
    position: fixed;
    left:0;
    bottom:0;
    top:55px;
    background-color: white;
    width: 78px;
    z-index:200;
    padding-top: 5px;

}

.sidebarlink{
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebarlink:hover{
    background-color: rgba(241, 241, 241, 0.798);
}

.sidebarlink img{
    height: 26px;
    margin-bottom: 4px;
}

.sidebarlink div{
    font-family: Roboto, Arial;
    font-size: 10px;
}